
<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" href="~/Bibliotecas/Content/avancad.css" />
    <link rel="stylesheet" href="~/Bibliotecas/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="~/Bibliotecas/Scripts/jquery-3.0.0.js"></script>
    <script src="~/Bibliotecas/Scripts/umd/popper.min.js"></script>
    <script src="~/Bibliotecas/Scripts/bootstrap.min.js"></script>
    <script src="~/Bibliotecas/Scripts/Avanc.js"></script>
    <title>Avan&ccedil;ada - @ViewBag.Title</title>
</head>
<body>
    <div class="back-nav"></div>
    <nav class="topnav">
        <div class="nav-butt" id="but">
            <img src="~/Bibliotecas/Content/menu-4-32.ico" />
        </div>
        <div class="nav-avan">
            Avan&Ccedil;ada
        </div>

    </nav>

    <div class="nav-hid">
        <img src="~/Imgs/user.jpg" class="user-icon" />
        <br>
        <div>
            @Html.ActionLink("Avançada", "Index", "Comum")
            @Html.ActionLink("Cardápio", "CardapioConsultar", "Comum")
            @Html.ActionLink("Saldo", "ContaSaldo", "User")
            @Html.ActionLink("Recarga!", "Recarga", "User")
            @Html.ActionLink("Login", "LoginCadastro", "Comum")
            @Html.ActionLink("SAC", "Sac", "Comum")
        </div>
    </div>
    <div class="nav-hid-bk"></div>
    <main class="mdl-layout__content">
        <div class="page-content">@RenderBody()</div>
    </main>
</body>
</html>